<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      You Learn
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar placeholder="Digite ovideo desejada" [showCancelButton]="true" ></ion-searchbar>
  <ion-card>
    <ion-row>
      <ion-card-header>
        Titulo
      </ion-card-header>
    </ion-row>
    <ion-row>
      <ion-card-content>
        Conteudo
      </ion-card-content>
    </ion-row>
    <ion-row>
      <ion-card-content>
        <img src="">
      </ion-card-content>
    </ion-row>
    <ion-row>
      <ion-card-content>
            Este curso de capacita
      </ion-card-content>
    </ion-row>
      
      <ion-row>
        <ion-col >
          <ion-button left clear small>
            <ion-icon name="add-outline"></ion-icon>
            <div>Ver playlist</div>
          </ion-button >
        </ion-col>
        <ion-col>
          <ion-button left>
            <ion-icon name="paper-plane-outline"></ion-icon>
            <div>Compartilhar</div>
          </ion-button>
        </ion-col>
      </ion-row>

     
  </ion-card>

  <ion-fab>
    <ion-fab-button vertical bottom  center>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 

</ion-content>
