<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      You Learn
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar placeholder="Digite a Aula desejada"></ion-searchbar>
  <ion-card>
    <ion-row>
      <ion-card-header>
        Titulo
      </ion-card-header>
    </ion-row>
    <ion-row>
      <ion-card-content>
        Conteudo
      </ion-card-content>
    </ion-row>
    <ion-row>
      <ion-card-content>
        <img src="https://i.ytimg.com/an_webp/3_owhfDNb58/mqdefault_6s.webp?du=3000&sqp=CN3B76IG&rs=AOn4CLAEdrnFWYwj-bA3VQU94UOyZzlCPQ">
      </ion-card-content>
    </ion-row>
    <ion-row>
      <ion-card-content>
            Este curso de capacita
      </ion-card-content>
    </ion-row>
      
      <ion-row>
        <ion-col >
          <button ion-button icon left clear small>
            <ion-icon name="md-albums"></ion-icon>
            <div>Ver playlist</div>
         </button>
        </ion-col>
        <ion-col>
          <button ion-button icon left clear small>
            <ion-icon name="text"></ion-icon>
            <div>Compartilhar</div>
          </button>
        </ion-col>
      </ion-row>

  </ion-card>
  
  <ion-fab right-buttom>
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab>
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
